new 21.json
{
  "name": "new 21",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "0b1f00db-dae3-42fb-bd36-2829ae894315",
      "name": "Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1328,
        1008
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://trading-bot:8000/api/v1/analyze",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"symbol\": \"{{ $json.symbol }}\",\n  \"price_change_pct\": {{ $json.price_change_pct }},\n  \"volume_24h\": {{ $json.volume_24h }},\n  \"score\": {{ $json.score }},\n  \"spread_pct\": {{ $json.spread_pct }},\n  \"bid\": {{ $json.bid }},\n  \"ask\": {{ $json.ask }}\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "d4047448-c913-40a3-bd30-35c48437a3c5",
      "name": "Batch Analyze Top 100",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -656,
        864
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst minConf = 55;\n\nconst results = [];\n\nfor (const item of items) {\n  const action = item.json.ai_decision?.action;\n  const confidence = item.json.ai_decision?.confidence;\n\n  if (action !== \"HOLD\" && confidence >= minConf) {\n    results.push({\n      ...item.json,\n      has_signal: true\n    });\n  }\n}\n\n// ❌ if no trades\nif (results.length === 0) {\n  return [{\n    json: {\n      has_signal: false,\n      message: \"No trades found\"\n    }\n  }];\n}\n\n// ✅ IMPORTANT: return ARRAY of coins\nreturn results.map(r => ({\n  json: r\n}));"
      },
      "id": "28de6264-aa7b-4b05-900b-ffa965bf65a9",
      "name": "Filter Tradeable Coins",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-has-signals",
              "leftValue": "={{ $json.has_signals }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d4e44f0-03b7-4122-bcdc-4ccb0845dd3c",
      "name": "Has Tradeable Signals?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "// No tradeable signals found after batch analysis\nconst d = $input.first().json;\nconst summary = d.summary || 'No signals met trade criteria';\nconsole.log(`No signals: ${summary}`);\n\nconst message = [\n  `🔍 <b>SCAN COMPLETE — NO SIGNALS</b>`,\n  `${summary}`,\n  `Next scan in 10 minutes.`\n].join('\\n');\n\nreturn [{ json: { message } }];"
      },
      "id": "3ed1064f-5478-4d55-8b1e-89485335fa76",
      "name": "No Signals Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        1216
      ]
    },
    {
      "parameters": {
        "chatId": "=-1003850835549",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "b4b3292f-3f8e-4feb-bd9b-c0da2e9b5124",
      "name": "Telegram: No Signals",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        512,
        1152
      ],
      "webhookId": "49442209-04f9-4e3d-964b-4c559e02472d",
      "credentials": {
        "telegramApi": {
          "id": "muSnKEfvwZqyptTm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://trading-bot:8000/api/v1/scan",
        "options": {
          "timeout": 60000
        }
      },
      "id": "08d6b281-92d1-41c1-9344-1a2e3f8acb11",
      "name": "Scan Market1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1104,
        1008
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-coins-found",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d360ae02-0063-41b7-a799-254ddbaa9955",
      "name": "Coins Found?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -896,
        1008
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://trading-bot:8000/api/v1/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"symbol\": \"{{$json.symbol}}\",\n  \"action\": \"{{$json.ai_decision.action}}\",\n  \"usdt_amount\": 6\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          },
          "timeout": 30000
        }
      },
      "id": "9441976a-12bf-4049-8e3d-02b5284b6930",
      "name": "Execute Trade1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        32,
        848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-executed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "executed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ba3629e-5b84-42f5-95f8-aa895aae6000",
      "name": "Trade Executed?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build Telegram success message\nconst d = $input.first().json;\nconst side  = d.side === 'BUY' ? '🟢 LONG' : '🔴 SHORT';\nconst rr    = d.risk_reward ? `${d.risk_reward}:1` : 'N/A';\n\nconst message = [\n  `✅ <b>TRADE OPENED</b>`,\n  `Symbol: <b>${d.symbol}</b>`,\n  `Direction: <b>${side}</b>`,\n  `Entry: <b>$${parseFloat(d.entry_price).toFixed(6)}</b>`,\n  `Stop Loss: $${parseFloat(d.stop_loss).toFixed(6)}`,\n  `Take Profit: $${parseFloat(d.take_profit).toFixed(6)}`,\n  `Leverage: ${d.leverage}x`,\n  `Risk/Reward: ${rr}`,\n  `Confidence: ${d.confidence}%`,\n  `Order ID: ${d.order_id}`\n].join('\\n');\n\nreturn [{ json: { message } }];"
      },
      "id": "2c2acb4e-be2d-4f8a-86e9-0bec431aaecf",
      "name": "Build Success Message1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        720
      ]
    },
    {
      "parameters": {
        "chatId": "=-1003850835549",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "bd85c53d-d107-44d6-8b4b-2bed106ff41b",
      "name": "Telegram: Trade Opened1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        656,
        720
      ],
      "webhookId": "b316356a-c065-4859-b226-00f829f31741",
      "credentials": {
        "telegramApi": {
          "id": "muSnKEfvwZqyptTm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build skipped/error message\nconst d = $input.first().json;\nconst reason = d.reason || d.message || 'Unknown reason';\n\nconst message = [\n  `⏭️ <b>TRADE SKIPPED</b>`,\n  `Symbol: ${d.symbol || 'N/A'}`,\n  `Status: ${d.status || 'skipped'}`,\n  `Reason: <i>${reason}</i>`\n].join('\\n');\n\nreturn [{ json: { message } }];"
      },
      "id": "fac4cfeb-269d-42f5-b54f-942eac3d4b94",
      "name": "Build Skip Message1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        896
      ]
    },
    {
      "parameters": {
        "chatId": "=-1003850835549",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "d9326030-3981-46e5-90aa-06b4a265b164",
      "name": "Telegram: Trade Skipped1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        656,
        896
      ],
      "webhookId": "4a05b74f-be2d-4d55-bd6a-5f849c57b70e",
      "credentials": {
        "telegramApi": {
          "id": "muSnKEfvwZqyptTm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// No coins found after scanning\nconsole.log('Scanner returned 0 coins — market conditions not suitable');\n\nconst message = [\n  `🔍 <b>SCAN COMPLETE — NO CANDIDATES</b>`,\n  `No coins passed the quality filters.`,\n  `Next scan in 10 minutes.`\n].join('\\n');\n\nreturn [{ json: { message } }];"
      },
      "id": "e2ac0f35-fa9d-4c6a-a268-fa5d05bb9d81",
      "name": "No Coins Found1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        1104
      ]
    },
    {
      "parameters": {
        "chatId": "=-1003850835549",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "4e510230-89fb-4766-b749-68554af5dfc8",
      "name": "Telegram: No Coins1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -448,
        1104
      ],
      "webhookId": "d99cd984-7583-4cbd-8e86-3fb2307760b8",
      "credentials": {
        "telegramApi": {
          "id": "muSnKEfvwZqyptTm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle any upstream error\nconst error = $input.first();\nconsole.error('Workflow error:', JSON.stringify(error.json));\n\nconst message = [\n  `⚠️ <b>BOT ERROR</b>`,\n  `Error: <code>${JSON.stringify(error.json).substring(0, 400)}</code>`\n].join('\\n');\n\nreturn [{ json: { message } }];"
      },
      "id": "b9d3e755-53ba-493a-bd3f-f20b3ef73277",
      "name": "Error Handler1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        1216
      ]
    },
    {
      "parameters": {
        "chatId": "=-1003850835549",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "b112cbd6-a1e9-4bee-be7d-bc6d9bd7d13d",
      "name": "Telegram: Error Alert1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -672,
        1280
      ],
      "webhookId": "353e9213-c98a-48a4-9712-3b89c7665b2f",
      "credentials": {
        "telegramApi": {
          "id": "muSnKEfvwZqyptTm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const coins = $input.first().json.coins;\n\n// top 10 ganna (safe start)\nreturn coins.slice(0, 10).map(c => ({ json: c }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        784
      ],
      "id": "9969ad18-7f8a-4749-8ff7-ca74a56ace56",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldToSplitOut": "symbol",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -208,
        912
      ],
      "id": "90c200ee-8c3f-4bd7-b55b-4d5189128f78",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 10 Minutes": {
      "main": [
        [
          {
            "node": "Scan Market1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Analyze Top 100": {
      "main": [
        [
          {
            "node": "Filter Tradeable Coins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Tradeable Coins": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tradeable Signals?": {
      "main": [
        [],
        [
          {
            "node": "No Signals Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Signals Found": {
      "main": [
        [
          {
            "node": "Telegram: No Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Market1": {
      "main": [
        [
          {
            "node": "Coins Found?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coins Found?1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Coins Found1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Trade1": {
      "main": [
        [
          {
            "node": "Trade Executed?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trade Executed?1": {
      "main": [
        [
          {
            "node": "Build Success Message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Skip Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Message1": {
      "main": [
        [
          {
            "node": "Telegram: Trade Opened1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Skip Message1": {
      "main": [
        [
          {
            "node": "Telegram: Trade Skipped1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Coins Found1": {
      "main": [
        [
          {
            "node": "Telegram: No Coins1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler1": {
      "main": [
        [
          {
            "node": "Telegram: Error Alert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Batch Analyze Top 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Execute Trade1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bcec196a-12ea-4c74-b67d-e8a9e3b628be",
  "meta": {
    "instanceId": "48983189ce59b15b6aaa084f0166841180ea98dd61f4cb93f3ed48eb9268ec1f"
  },
  "id": "2t3bOw5rL70VAHEz",
  "tags": [
    {
      "updatedAt": "2026-04-14T14:59:25.141Z",
      "createdAt": "2026-04-14T14:59:25.141Z",
      "id": "50GyOP6zhdZTwOJG",
      "name": "crypto-trading"
    }
  ]
}